<div class="verify">
  <div class="verify-body">
    <div class="title">
      <h1>Email Verification</h1>
      <span>We have send code to your Email ui**@gmail.com</span>
    </div>
    <div class="body">
      <div class="sub-title">
        <span>Enter code here</span>
      </div>
      <div class="enternum">
        <input matInput #input placeholder="0" maxlength="1">
        <input matInput #input placeholder="0" maxlength="1">
        <input matInput #input placeholder="0" maxlength="1">
        <input matInput #input placeholder="0" maxlength="1">
      </div>
      <div class="button">
        <a mat-button href="#">Send Password</a>
      </div>
      <div class="footer">
        <span>Don’t receive code? <a href="#">Resend</a></span>
      </div>
    </div>
  </div>
</div>
