<div class="forgetpass">
  <div class="forget-body">
    <div class="title">
      <h1>Forget Password</h1>
      <span>Please Select option to send link reset password</span>
    </div>
    <div class="forms">
      <div class="viaEmail">
        <div class="icon">
          <img src="assets/mail-icon.png" alt="email icon">
        </div>
        <div class="content">
          <a href="#">Reset via Email</a>
          <span>Link reset will be send to your email address registered</span>
        </div>
      </div>
      <div class="viaSms">
        <div class="icon">
          <img src="assets/phone-icon.png" alt="phone icon">
        </div>
        <div class="content">
          <a href="#">Reset via SMS</a>
          <span>Link reset will be send to your phone number registered</span>
        </div>
      </div>
    </div>
    <div class="button">
      <a mat-button routerLink="/verify" routerLinkActive="active">Send Password</a>
    </div>
  </div>
</div>
