<mat-toolbar>
  <div class="logo">
    <img src="assets/logo.png" alt="logo website" class="logo-img">
    <a href="#">Airtrav</a>
  </div>
  <div class="navigate">
    <mat-list>
      <mat-list-item>
        <a mat-button routerLink="thingstodo">Things to do</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="guide">Travel Guide</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="tours">Tours</a>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="user">
    <div class="right">
      <a href="#">USD</a>
      <a href="#">FAQ</a>
      <mat-icon>notifications_none</mat-icon>
    </div>
    <img src="assets/user_avatar.png" alt="user avatar">
  </div>
</mat-toolbar>
