<mat-toolbar id="home">
  <div class="logo">
    <img src="assets/logo.png" alt="logo website" class="logo-img">
    <a routerLink="home">Airtrav</a>
  </div>
  <div class="navigate">
    <mat-list>
      <mat-list-item *ngFor="let i of navigate">
        <a mat-button routerLink="{{i.link}}">{{i.text}}</a>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="user">
    <div class="right">
      <a href="#">USD</a>
      <a href="#">FAQ</a>
      <mat-icon>notifications_none</mat-icon>
    </div>
    <img src="assets/user_avatar.png" alt="user avatar">
  </div>
</mat-toolbar>
